<h1>Agenda: <%= @agenda.title %><%= I18n.t('views.messages.destroy_agenda_mail') %></h1>

<h4><%= I18n.t('views.messages.destroy_artcle_mail')%></h4>
<% @agenda.articles.each do |article| %>
<p>ArtcleTitle: <%= article.title %></p>
<% end %>
<p></p>
